*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color:rgb(240, 216, 216);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

img{
  width: 40%;
  margin-top: 10%;
  margin-bottom: 1%;
}

p{
    font-size: 26px;
    padding: 2px;
    margin: 2px;
}

@media only screen and (max-width: 600px) {
  
  img{
    width:20rem;
    margin-top: 30%;
  }
  p{
    font-size: 16px;
    text-align: center;
  }
  bottom{
    font-size: 10px;
  }
}